<!DOCTYPE html>
<html>
   <head>

      <% include common/head %>
   
   </head>
   <body class="fixed-left">
      <div id="wrapper">
         
         <% include common/top_bar %>

         <% include common/side_menu %>

         <div class="content-page">
            <div class="content">
                <div class="container">
                    
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="search-result-box m-t-40">
                                <ul class="nav nav-tabs" style="display: none">
                                    <li class="active"><a href="#users" data-toggle="tab" aria-expanded="false"><span class="visible-xs"><i class="fa fa-user"></i></span> <span class="hidden-xs"><b>Feeds</b> <span class="badge badge-pink m-l-10"></span></span></a></li>
                      
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane active" id="users">
                                        <div class="search-item">
                                            <div class="media">
                                                <div class="media-left">
                                                    <a href="#"><img class="media-object img-circle" alt="64x64" src="assets/images/users/avatar-1.jpg" style="width: 64px; height: 64px"></a>
                                                </div>
                                                <div class="media-body">
                                                    <h4 class="media-heading"><a href="#">Chadengle</a></h4>
                                                    <p><br><span class="text-muted">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</span></p>
                                                    <div class="pull-right">
                                                        <button type="button" class="btn btn-info waves-effect waves-light">Interest</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="search-item">
                                            <div class="media">
                                                <div class="media-left">
                                                    <a href="#"><img class="media-object img-circle" alt="64x64" src="assets/images/users/avatar-2.jpg" style="width: 64px; height: 64px"></a>
                                                </div>
                                                <div class="media-body">
                                                    <h4 class="media-heading"><a href="#">Tomaslau</a></h4>
                                                    <p><br><span class="text-muted">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</span></p>
                                                    <div class="pull-right">
                                                        <button type="button" class="btn btn-info waves-effect waves-light">Interest</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="search-item">
                                            <div class="media">
                                                <div class="media-left">
                                                    <a href="#"><img class="media-object img-circle" alt="64x64" src="assets/images/users/avatar-3.jpg" style="width: 64px; height: 64px"></a>
                                                </div>
                                                <div class="media-body">
                                                    <h4 class="media-heading"><a href="#">Stillnotdavid</a></h4>
                                                    
                                                    <p><br><span class="text-muted">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</span></p>
                                                    <div class="pull-right">
                                                        <button type="button" class="btn btn-info waves-effect waves-light">Interest</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="search-item">
                                            <div class="media">
                                                <div class="media-left">
                                                    <a href="#"><img class="media-object img-circle" alt="64x64" src="assets/images/users/avatar-4.jpg" style="width: 64px; height: 64px"></a>
                                                </div>
                                                <div class="media-body">
                                                    <h4 class="media-heading"><a href="#">Kurafire</a></h4>
                                                   
                                                    <p><br><span class="text-muted">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</span></p>
                                                    <div class="pull-right">
                                                        <button type="button" class="btn btn-info waves-effect waves-light">Interest</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="search-item">
                                            <div class="media">
                                                <div class="media-left">
                                                    <a href="#"><img class="media-object img-circle" alt="64x64" src="assets/images/users/avatar-5.jpg" style="width: 64px; height: 64px"></a>
                                                </div>
                                                <div class="media-body">
                                                    <h4 class="media-heading"><a href="#">Shahedk</a></h4>
                                                    
                                                    <p><br><span class="text-muted">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</span></p>
                                                    <div class="pull-right">
                                                        <button type="button" class="btn btn-info waves-effect waves-light">Interest</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <ul class="pagination pagination-split pull-right">
                                            <li class="disabled"><a href="#"><i class="fa fa-angle-left"></i></a></li>
                                            <li><a href="#">1</a></li>
                                            <li class="active"><a href="#">2</a></li>
                                            <li><a href="#">3</a></li>
                                            <li><a href="#">4</a></li>
                                            <li><a href="#">5</a></li>
                                            <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
                                        </ul>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="footer">2015 © Ubold.</footer>
        </div>
        <div class="side-bar right-bar nicescroll">
            <h4 class="text-center">Chat</h4>
            <div class="contact-list nicescroll">
                <ul class="list-group contacts-list">
                    <li class="list-group-item">
                        <a href="#">
                            <div class="avatar"><img src="assets/images/users/avatar-1.jpg" alt=""></div><span class="name">Chadengle</span> <i class="fa fa-circle online"></i></a> <span class="clearfix"></span></li>
                    <li class="list-group-item">
                        <a href="#">
                            <div class="avatar"><img src="assets/images/users/avatar-2.jpg" alt=""></div><span class="name">Tomaslau</span> <i class="fa fa-circle online"></i></a> <span class="clearfix"></span></li>
                    <li class="list-group-item">
                        <a href="#">
                            <div class="avatar"><img src="assets/images/users/avatar-3.jpg" alt=""></div><span class="name">Stillnotdavid</span> <i class="fa fa-circle online"></i></a> <span class="clearfix"></span></li>
                    <li class="list-group-item">
                        <a href="#">
                            <div class="avatar"><img src="assets/images/users/avatar-4.jpg" alt=""></div><span class="name">Kurafire</span> <i class="fa fa-circle online"></i></a> <span class="clearfix"></span></li>
                    <li class="list-group-item">
                        <a href="#">
                            <div class="avatar"><img src="assets/images/users/avatar-5.jpg" alt=""></div><span class="name">Shahedk</span> <i class="fa fa-circle away"></i></a> <span class="clearfix"></span></li>
                    <li class="list-group-item">
                        <a href="#">
                            <div class="avatar"><img src="assets/images/users/avatar-6.jpg" alt=""></div><span class="name">Adhamdannaway</span> <i class="fa fa-circle away"></i></a> <span class="clearfix"></span></li>
                    <li class="list-group-item">
                        <a href="#">
                            <div class="avatar"><img src="assets/images/users/avatar-7.jpg" alt=""></div><span class="name">Ok</span> <i class="fa fa-circle away"></i></a> <span class="clearfix"></span></li>
                    <li class="list-group-item">
                        <a href="#">
                            <div class="avatar"><img src="assets/images/users/avatar-8.jpg" alt=""></div><span class="name">Arashasghari</span> <i class="fa fa-circle offline"></i></a> <span class="clearfix"></span></li>
                    <li class="list-group-item">
                        <a href="#">
                            <div class="avatar"><img src="assets/images/users/avatar-9.jpg" alt=""></div><span class="name">Joshaustin</span> <i class="fa fa-circle offline"></i></a> <span class="clearfix"></span></li>
                    <li class="list-group-item">
                        <a href="#">
                            <div class="avatar"><img src="assets/images/users/avatar-10.jpg" alt=""></div><span class="name">Sortino</span> <i class="fa fa-circle offline"></i></a> <span class="clearfix"></span></li>
                </ul>
            </div>
        </div>
    </div>

      <% include common/footer %>
   </body>
</html>