<!DOCTYPE html>
<html>
   <head>

      <% include common/head %>
   
   </head>
   <body class="fixed-left">
      <div id="wrapper">
         
         <% include common/top_bar %>

         <% include common/side_menu %>

         
         <div class="content-page">
            <div class="content">
                <div class="wraper container-fluid">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="bg-picture text-center">
                                <div class="bg-picture-overlay"></div>
                                <div class="profile-info-name"><img src="assets/images/users/avatar-1.jpg" class="thumb-lg img-circle img-thumbnail" alt="profile-image">
                                    <h4 class="m-b-5"><b>Chadengle</b></h4>
                                    <p class="text-muted"><i class="fa fa-map-marker"></i> New york, United States</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card-box m-t-20">
                                <h4 class="m-t-0 header-title"><b>Personal Information</b></h4>
                                <div class="p-20">
                                    <div class="about-info-p"><strong>Full Name</strong><br>
                                        <p class="text-muted">Johnathan Deo</p>
                                    </div>
                                    <div class="about-info-p"><strong>Mobile</strong><br>
                                        <p class="text-muted">(123) 123 1234</p>
                                    </div>
                                    <div class="about-info-p"><strong>Email</strong><br>
                                        <p class="text-muted">johnathan@ubold.com</p>
                                    </div>
                                    <div class="about-info-p m-b-0"><strong>Location</strong><br>
                                        <p class="text-muted">USA</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card-box">
                                <h4 class="m-t-0 header-title"><b>About Me</b></h4>
                                <div class="p-20">
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                                    <p><strong>But also the leap into electronic typesetting, remaining essentially unchanged.</strong></p>
                                    <p>It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                </div>
                            </div>
                            <div class="card-box">
                                <h4 class="m-t-0 header-title"><b>Contribution</b></h4>                               
                                 <div class="row">
                                    <div class="col-md-12">
                                       
                                       <form class="form-inline" role="form">
                                          
                                          <div class="form-group">
                                             <label class="sr-only" for="user-contribution">Password</label>
                                             <input type="text" class="form-control" id="user-contribution" placeholder="">
                                          </div>
                                          <button type="submit" class="btn btn-success waves-effect waves-light m-l-10 btn-md"><i class="fa fa-plus"></i></button>
                                       </form>

                                       <div class="tag-list">
                                          <ul >
                                             <li><a>Music<i class="fa fa-close"></i></a></li>
                                             <li><a>Dance<i class="fa fa-close"></i></a></li>
                                             <li><a>Language<i class="fa fa-close"></i></a></li>

                                          </ul>
                                       </div>

                                    </div>
                                 </div>

                           </div>
                           <div class="card-box">
                                <h4 class="m-t-0 header-title"><b>Needs</b></h4>                               
                                 <div class="row">
                                    <div class="col-md-12">
                                       
                                       <form class="form-inline" role="form">
                                          
                                          <div class="form-group">
                                             <label class="sr-only" for="user-needs">Password</label>
                                             <input type="text" class="form-control" id="user-needs" placeholder="">
                                          </div>
                                          <button type="submit" class="btn btn-success waves-effect waves-light m-l-10 btn-md"><i class="fa fa-plus"></i></button>
                                       </form>

                                       <div class="tag-list">
                                          <ul >
                                             <li><a>Ipod<i class="fa fa-close"></i></a></li>
                                             <li><a>Iphone<i class="fa fa-close"></i></a></li>
                                             <li><a>Mac<i class="fa fa-close"></i></a></li>

                                          </ul>
                                       </div>

                                    </div>
                                 </div>

                           </div>
                        </div>
                        <div class="col-md-8">
                           <div class="card-box m-t-20">
                              <div class="row">
                                 <div class="col-sm-12">
                                    <div class="panel panel-border panel-info">
                                       <div class="panel-heading">
                                          <h3 class="panel-title">Karma Points</h3>
                                       </div>
                                       <div class="panel-body">
                                          <p class="badge badge-pink karma_score">100</p>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                            <div class="card-box ">
                                <h4 class="m-t-0 header-title"><b>Activity</b></h4>
                                <div class="p-20">
                                    <div class="timeline-2">
                                        <div class="time-item">
                                            <div class="item-info">
                                                <div class="text-muted">5 minutes ago</div>
                                                <p><strong><a href="#" class="text-info">John Doe</a></strong> Uploaded a photo <strong>"DSC000586.jpg"</strong></p>
                                            </div>
                                        </div>
                                        <div class="time-item">
                                            <div class="item-info">
                                                <div class="text-muted">30 minutes ago</div>
                                                <p><a href="" class="text-info">Lorem</a> commented your post.</p>
                                                <p><em>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam laoreet tellus ut tincidunt euismod. "</em></p>
                                            </div>
                                        </div>
                                        <div class="time-item">
                                            <div class="item-info">
                                                <div class="text-muted">59 minutes ago</div>
                                                <p><a href="" class="text-info">Jessi</a> attended a meeting with<a href="#" class="text-success">John Doe</a>.</p>
                                                <p><em>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam laoreet tellus ut tincidunt euismod. "</em></p>
                                            </div>
                                        </div>
                                        <div class="time-item">
                                            <div class="item-info">
                                                <div class="text-muted">5 minutes ago</div>
                                                <p><strong><a href="#" class="text-info">John Doe</a></strong>Uploaded 2 new photos</p>
                                            </div>
                                        </div>
                                        <div class="time-item">
                                            <div class="item-info">
                                                <div class="text-muted">30 minutes ago</div>
                                                <p><a href="" class="text-info">Lorem</a> commented your post.</p>
                                                <p><em>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam laoreet tellus ut tincidunt euismod. "</em></p>
                                            </div>
                                        </div>
                                        <div class="time-item">
                                            <div class="item-info">
                                                <div class="text-muted">59 minutes ago</div>
                                                <p><a href="" class="text-info">Jessi</a> attended a meeting with<a href="#" class="text-success">John Doe</a>.</p>
                                                <p><em>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam laoreet tellus ut tincidunt euismod. "</em></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-box">
                                <h4 class="m-t-0 m-b-20 header-title"><b>My Office</b></h4>
                                <div class="gmap"><iframe height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.co.in/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Google+India+Bangalore,+Bennigana+Halli,+Bangalore,+Karnataka&amp;aq=0&amp;oq=google+&amp;sll=9.930582,78.12303&amp;sspn=0.192085,0.308647&amp;ie=UTF8&amp;hq=Google&amp;hnear=Bennigana+Halli,+Bangalore,+Bengaluru+Urban,+Karnataka&amp;t=m&amp;ll=12.993518,77.660294&amp;spn=0.012545,0.036006&amp;z=15&amp;output=embed"></iframe></div><br>
                                <div class="gmap-info">
                                    <h4><b><a href="#" class="text-dark">Google India Pvt. Ltd</a></b></h4>
                                    <p>No. 3, RMZ Infinity - Tower E 3rd, 4th, and 5th Floors,</p>
                                    <p>Old Madras Road,</p>
                                    <p>Bengaluru, Karnataka 560016,</p>
                                    <p>India</p>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row"></div>
                </div>
            </div>
            <footer class="footer">2015 © Ubold.</footer>
        </div>
        <div class="side-bar right-bar nicescroll">
            <h4 class="text-center">Chat</h4>
            <div class="contact-list nicescroll">
                <ul class="list-group contacts-list">
                    <li class="list-group-item">
                        <a href="#">
                            <div class="avatar"><img src="assets/images/users/avatar-1.jpg" alt=""></div><span class="name">Chadengle</span> <i class="fa fa-circle online"></i></a> <span class="clearfix"></span></li>
                    <li class="list-group-item">
                        <a href="#">
                            <div class="avatar"><img src="assets/images/users/avatar-2.jpg" alt=""></div><span class="name">Tomaslau</span> <i class="fa fa-circle online"></i></a> <span class="clearfix"></span></li>
                    <li class="list-group-item">
                        <a href="#">
                            <div class="avatar"><img src="assets/images/users/avatar-3.jpg" alt=""></div><span class="name">Stillnotdavid</span> <i class="fa fa-circle online"></i></a> <span class="clearfix"></span></li>
                    <li class="list-group-item">
                        <a href="#">
                            <div class="avatar"><img src="assets/images/users/avatar-4.jpg" alt=""></div><span class="name">Kurafire</span> <i class="fa fa-circle online"></i></a> <span class="clearfix"></span></li>
                    <li class="list-group-item">
                        <a href="#">
                            <div class="avatar"><img src="assets/images/users/avatar-5.jpg" alt=""></div><span class="name">Shahedk</span> <i class="fa fa-circle away"></i></a> <span class="clearfix"></span></li>
                    <li class="list-group-item">
                        <a href="#">
                            <div class="avatar"><img src="assets/images/users/avatar-6.jpg" alt=""></div><span class="name">Adhamdannaway</span> <i class="fa fa-circle away"></i></a> <span class="clearfix"></span></li>
                    <li class="list-group-item">
                        <a href="#">
                            <div class="avatar"><img src="assets/images/users/avatar-7.jpg" alt=""></div><span class="name">Ok</span> <i class="fa fa-circle away"></i></a> <span class="clearfix"></span></li>
                    <li class="list-group-item">
                        <a href="#">
                            <div class="avatar"><img src="assets/images/users/avatar-8.jpg" alt=""></div><span class="name">Arashasghari</span> <i class="fa fa-circle offline"></i></a> <span class="clearfix"></span></li>
                    <li class="list-group-item">
                        <a href="#">
                            <div class="avatar"><img src="assets/images/users/avatar-9.jpg" alt=""></div><span class="name">Joshaustin</span> <i class="fa fa-circle offline"></i></a> <span class="clearfix"></span></li>
                    <li class="list-group-item">
                        <a href="#">
                            <div class="avatar"><img src="assets/images/users/avatar-10.jpg" alt=""></div><span class="name">Sortino</span> <i class="fa fa-circle offline"></i></a> <span class="clearfix"></span></li>
                </ul>
            </div>
        </div>
    </div>

      <% include common/footer %>
   </body>
</html>